body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.blue-color{
    color: aqua;
}
section{
    display: flex; 
    margin-bottom: 150px;  
}
.half-width{
    width: 60%;
    padding-left: 8%;
    padding-right: 2%;
}
.half-width img{
    width: 100%;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua, blue);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
}
.Top-banner{
    background-image: url(Untitled-1.jpg);
    background-repeat:no-repeat;
}
.side-banner{
    background-image: url(side-banner.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
